button{
    background-color: black;
    outline: none;
    border: 1px solid blue;
    border-radius: 2px;
    color: white;
}
button:hover{
    border: 4px solid red;
    border-radius: 4px;
}
body{
    background-image: radial-gradient(red 5%,blue 90%, green 20%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}